<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<insert id="insertUser">
		INSERT INTO user_spring (email, password, created, name) VALUE (#{email}, #{password}, NOW(), #{name})
	</insert>
	
	<select id="authentication" resultType="com.cdol.template.user.dto.UserVO">
		SELECT * FROM user_spring WHERE email = #{email}
	</select>
</mapper>